.main {

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 50px 0px;
    }

    &__row.small {
        justify-content: space-between;
        & > .main__column-users {
            flex: 0 1 40.816%;
            grid-template-columns: repeat(auto-fit, minmax(250px, 270px));
            margin: 0px 30px 0px 0px;
            font-size: 18px;
            line-height: 122%;
        }
    }

    &__column-users {
        flex: 0 1 59.184%;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(294px, 420px));
        justify-content: center;
    }

    &__column-posts.disabled {
        display: none;
    }

    &__column-posts {
        flex: 0 1 59.184%;
        background-color: #333348;
        border-radius: 40px;
        padding: 108px 10px;
        position: relative;

        & > span {
            position: absolute;
            width: 10px;
            height: 10px;
            right: 25px;
            top: 10px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px 66px 0px;
    }

    &__bottom-prev {
        display: flex;
        align-items: center;
        & > p {
            margin: 0px 0px 0px 30px;
        }
    }

    &__bottom-next {
        display: flex;
        align-items: center;
        & > p {
            margin: 0px 30px 0px 0px;
        }
    }
}

.alert {
    margin: 40px 0px 0px 0px;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: red;
}

.user-error {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.loader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 30px auto 0px auto;
    border: 2px dashed green;
    animation-name: search-fetching;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
@keyframes search-fetching {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
}

@media (max-width: 1200px){
    .main {    
        &__column-posts {
            flex: 0 1 59.184%;
            background-color: #333348;
            border-radius: 40px;
            padding: 50px 10px;
        }
    }
}

@media (max-width: 768px){
    .main {    
        &__row {
            display: flex;
            flex-direction: column;
            margin: 0px 0px 35px 0px;
        }
    
        &__row.small {
            justify-content: space-between;
            & > .main__column-users {
                flex: 0 1 100%;
                grid-template-columns: repeat(auto-fit, minmax(294px, 420px));
                margin: 0px 0px 25px 0px;
            }
        }
    
        &__column-posts {
            flex: 0 1 59.184%;
            padding: 30px 10px;
        }

        &__bottom {
            padding: 30px 0px;
        }

        &__bottom-prev {
            & > p {
                margin: 0px 0px 0px 15px;
            }
        }
    
        &__bottom-next {
            & > p {
                margin: 0px 15px 0px 0px;
            }
        }
    }
}